
@{
    var employee = ViewBag.Employee;
}

<h2>Index</h2>
<p>The name of employee is : @employee.Name</p>
<p>The age of employee is : @employee.Age</p>
<p>The designatioin of employee is : @employee.Designation</p>
